*{
    margin: 0;
    

}


.nav {
    background-image: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80;);
    height: 17rem;

}

.links a{
    padding-top: 1rem;
    padding-right:20px ;
   color: white;
    float: right; 
   max-width: 80%;
   font-family: 'Poppins', sans-serif;
   margin-right: 20px;
}


.title {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding-top: 110px;
    margin-left: 2rem;
    max-width: 80%;
}

.homes {
    display: flex;
      flex-direction: column;
    justify-content: center;
    align-content: center; 
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.titles {
    margin-top: 30px;
  padding-bottom: 30px;
  font-size: 25px;
  
}
.about {
    text-align: left;
    padding: 10px;
}

.mainSection {
    margin-right: 15vh ;
    margin-left: 15vh;
    display: block;
}

.aboutDetails {
    margin-bottom: 80px;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
   padding: 15px 10px 10px 10px;
}

.aboutDetails p {
    padding-bottom:25px ;
}

@media only screen and (max-width:800px) and (min-width: 300px){
    *{
        margin: 0;
        padding: 0;
    
    }
    
   
    .nav{
        height: fit-content;
        padding-bottom: 30px;
       
    }
     .links a{
         max-width: 100vh;
         font-size: 15px;
         text-align: center;
         margin-right:0px ;
     }

     .title {
        font-size: 1.5rem;
       

     }
}

a:hover {
    color: red;
}


@media  only screen and (min-width :1200px) {
    .title {
        padding-left: 3rem;
        font-size: 1.9rem;
    }
}