.aboutt {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-block-start: 0.83rem;
    margin-block-end: 0.83rem;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    
}

.project1 h2, .project2 h2, .project3 h2{

    padding-bottom: 10px;
    font-family: 'Poppins';
}
.project1 hr , .project2 hr, .project3 hr{
    margin-bottom: 15px;
}
.project1 p , .project2 p, .project3 p{
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
} 


.mainSection a {
    text-decoration: none;
    color: rgb(21, 167, 224);
}